force-app/main/default/flows/Demo_Reset_Restaurant_Responses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Remove_Restaurant_Response</name>
        <label>Remove Restaurant Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Reviews.Restaurant_Response__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Reviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Reviews</name>
        <label>Updated Reviews</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdatedReviews</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Reviews</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Reviews</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Demo Reset Restaurant Responses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Reset Restaurant Responses</label>
    <loops>
        <description>Loop through Review records</description>
        <name>Loop_Reviews</name>
        <label>Loop Reviews</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Reviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Restaurant_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Reviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Reviews</name>
        <label>Get Reviews</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Reviews</name>
        <label>Update Reviews</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>UpdatedReviews</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reviews</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedReviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Review__c</objectType>
    </variables>
</Flow>
