force-app/main/default/flows/Update_Contact_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Confirm_success</name>
        <label>Confirm success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your contact details have been updated.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Report_failure_to_retrieve_contact</name>
        <label>Report failure to retrieve contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to retrieve the contact details.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Report_failure_to_update_contact</name>
        <label>Report failure to update contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to update the contact details.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description
    >Updates the contact’s email address to match the new email address provided by the customer.</description>
        <name>SetNewEmailAddress</name>
        <label>Set New Email Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPhoneNumberNew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
    >Updates the contact’s mailing street, mailing city, mailing state, and mailing postal code to match the new values provided by the customer.</description>
        <name>SetNewMailingAddress</name>
        <label>Set New Mailing Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isContactRecordChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
    >Updates the contact’s phone number to match the new phone number provided by the customer.</description>
        <name>SetNewPhoneNumber</name>
        <label>Set New Phone Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsMailingAddressNew</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description
    >Determines whether any field of the customer’s Contact Record has been updated throughout the flow. If no updates have been made, then the Update Record element is skipped to improve flow performance.</description>
        <name>isContactRecordChanged</name>
        <label>ContactRecordChanges?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ContactRecordChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EmailAddressExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewBusinessPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewMailingAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContactRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the customer’s email address has changed.</description>
        <name>IsEmailAddressNew</name>
        <label>New Email Address?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsPhoneNumberNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>EmailAddressExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newEmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>contactRecord.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewEmailAddress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the customer’s mailing address has changed.</description>
        <name>IsMailingAddressNew</name>
        <label>New Mailing Address?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isContactRecordChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>NewMailingAddress</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>newStreetAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRecord.MailingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newStreetAddress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRecord.MailingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRecord.MailingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRecord.MailingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newPostalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewMailingAddress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the customer’s phone number has changed.</description>
        <name>IsPhoneNumberNew</name>
        <label>New Phone Number?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsMailingAddressNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>NewBusinessPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newPhoneNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRecord.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newPhoneNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewPhoneNumber</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates a contact record (email, phone, address)</description>
    <environments>Default</environments>
    <interviewLabel>Update verified contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get customer contact record from verified contactID.</description>
        <name>GetCustomerContactRecord</name>
        <label>Get Customer Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsEmailAddressNew</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Report_failure_to_retrieve_contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>verifiedContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description
    >Updates the fields in the Contact record to reflect the locally-stored values provided by the customer.</description>
        <name>UpdateContactRecord</name>
        <label>Update Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Report_failure_to_update_contact</targetReference>
        </faultConnector>
        <inputReference>contactRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCustomerContactRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the contact record to be updated.</description>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description
    >Stores the value of the new city provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>contactRecord.MailingCity</elementReference>
        </value>
    </variables>
    <variables>
        <description
    >Stores the value of the new email address provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>contactRecord.Email</elementReference>
        </value>
    </variables>
    <variables>
        <description
    >Stores the value of the new phone number provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>contactRecord.Phone</elementReference>
        </value>
    </variables>
    <variables>
        <description
    >Stores the value of the new postal code provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>contactRecord.MailingPostalCode</elementReference>
        </value>
    </variables>
    <variables>
        <description
    >Stores the value of the new state provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>contactRecord.MailingState</elementReference>
        </value>
    </variables>
    <variables>
        <description
    >Stores the value of the new street address provided by the customer. If no change is desired, this variable is empty.</description>
        <name>newStreetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>contactRecord.MailingStreet</elementReference>
        </value>
    </variables>
    <variables>
        <description>Message confirming the action or indicating an error</description>
        <name>outputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the contact record ID to be updated.</description>
        <name>verifiedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
</Flow>
